.dynamic-bg {
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.dynamic-bg__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    opacity: 0;
}

.visible {
    opacity: 1;
}