.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 2em;
  padding: 0.5em;
  font-family: inherit;
  background-color: var(--orange);
  color: var(--light);
  box-shadow: 1px 1px 1px var(--orange-dark);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--orange-darken);
}

.button__icon {
  width: 1em;
  height: 1em;
  display: block;
  color: inherit;
}

.button--info {
  background-color: var(--blue);
}

.button--danger {
  background-color: var(--red);
}

.button--large {
  font-size: 1.8em;
}

.button--large .button__icon {
  height: auto;
}

.button--info:hover,
.button--info:focus {
  background-color: var(--blue-darken);
}

.button--danger:hover,
.button--danger:focus {
  background-color: var(--red-darken);
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  position: absolute;
  bottom: 110%;
  left: 0;
  display: none;
  width: 100%;
  padding: 0.4em;
  color: var(--light);
  background-color: var(--blue);
  border-radius: 9px 9px 9px 0;
  font-size: 0.8em;
  text-align: center;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  display: block;
}
