.digital {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 2em;
  padding: 0.1em;
  margin: auto;
  color: var(--dark);
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
}

/*//////////////////////////////////////*/

@media all and (min-width: 800px) {
  .digital {
    font-size: 1.4em;
  }
}

@media all and (min-width: 430px) {
  .digital {
    font-size: 1.2em;
  }
}

@media all and (min-width: 1100px) {
  .digital {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1200px) {
  .digital {
    font-size: 1.5em;
  }
}
