.clock-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 100vh;
  min-height: 100vh;
  color: var(--orange-dark);
  background-color: var(--light);
  box-shadow: 3px 3px 10px black;
  margin: auto;
}

.girl {
  position: absolute;
  bottom: 5vh;
  right: 1%;
  width: 14vw;
  height: auto;
}

@media all and (min-width: 800px) {
  .clock-container {
    width: 94%;
  }
}

@media all and (min-width: 1000px) {
  .clock-container {
    width: 90%;
  }
}

@media all and (min-width: 1500px) {
  .clock-container {
    width: 80%;
  }
}
