.clock {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  height: 80vw;
  width: 80vw;
  max-width: 90vh;
  max-height: 90vh;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.interactive {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;
}

.interactive-part {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 10px;
  height: 50%;
  border-radius: 10px;
  transform-origin: bottom;
  text-decoration: none;
  list-style-type: none;
  z-index: 8;
}
.interactive.grab {
  cursor: pointer;
}

.interactive-part__minute {
  position: relative;
  top: -1.8rem;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: 9;
}

.clock__face {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../../resources/img/clock_face.svg) no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 10;
}

.clock__hand {
  position: absolute;
  background: black;
  border-radius: 10px;
  box-shadow: 1px 1px 5px white;
  transform-origin: bottom;
}

.clock__hand--hours {
  top: 25%;
  left: 48.9%;
  width: 2.8%;
  height: 25%;
  opacity: 0.8;
}

.clock__hand--minutes {
  top: 10%;
  left: 48.9%;
  width: 1.6%;
  height: 40%;
  opacity: 0.7;
}

.clock__hand--seconds {
  width: 0.8%;
  height: 40%;
  top: 10.4%;
  left: 49.6%;
  background-color: red;
  opacity: 0.8;
}

.digital {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

/*//////////////////////////////////////*/

@media all and (min-width: 800px) {
  .clock {
    width: 60vw;
    height: 60vw;
  }

  .interactive-part {
    font-size: 1.4rem;
  }
}

@media all and (min-width: 1100px) {
  .clock {
    width: 55vw;
    height: 55vw;
  }

  .interactive-part {
    font-size: 1.6rem;
  }

  .clock-settings {
    width: 22%;
  }
}

@media all and (min-width: 1200px) {
  .clock {
    width: 50vw;
    height: 50vw;
  }
}

@media all and (min-width: 1500px) {
  .clock {
    width: 44vw;
    height: 44vw;
  }
  .interactive-part {
    font-size: 1.8rem;
  }
}
