.surround {
  width: 100%;
  height: 100%;
  /* position: fixed; */
}

.open-settings-button-position {
  position: absolute;
  top: 0;
  right: 0;
}

.close-settings-button-position {
  position: absolute;
  top: 0;
  right: 0;
}

.clock-settings {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  right: 0;
  top: 0;
  text-align: center;
  margin: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: var(--orange);
}

.clock-settings__inner {
  width: 100%;

  padding: 0.1em;
  color: var(--light);
}

.clock-settings__gap-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}

.clock-settings__text {
  color: black;
  display: block;
  padding: 1em 0 0.5em 0;
}

.gap-button-pos {
  margin-right: 0.5em;
}

.clock-settings__title {
  margin: 0.5em;
  text-align: left;
}

.clock-settings__title-h2 {
  color: var(--blue);
  margin-bottom: 0.5em;
  text-align: left;
}

.clock-settings__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.clock-settings__buttons-container .button {
  margin: 0.2em;
  width: 100%;
}

.clock-settings__section {
  box-shadow: 2px 2px 4px black;
  padding: 2em;
  background-color: var(--light);
  margin: 1em;
}

@media all and (min-width: 500px) {
  .clock-settings {
    width: 60%;
  }
}

@media all and (min-width: 700px) {
  .clock-settings {
    width: 40%;
  }
}

@media all and (min-width: 1000px) {
  .clock-settings {
    width: 30%;
  }
}

@media all and (min-width: 1500px) {
  .clock-settings {
    width: 25%;
  }
}
